# Development and Testing items
.hidden/
.vscode/
scripts/
scripts/Sandbox.ps1
testSettings.json


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Additional Files
new-contact.ps1
